html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body { font-family: 'Work Sans', sans-serif; font-size: 15px; font-style: normal; line-height: 1.33em; font-weight:400;color: #FFFFFF;  background-color: black; overflow-x: hidden;}
.container{max-width: 1440px; width: 100%;position: relative;margin: 0 auto;}

.header{height: 80px;border: 1px solid rgba(255, 255, 255, 0.11); display: flex;justify-content: space-between; padding: 0 60px; background: rgba(13, 16, 16, 0.66);backdrop-filter: blur(88px);}
.header_left, .header_right{display: flex; align-items: center;}
.header_left .header_logo{padding-right: 119px;}
.header_left .header_dropdown .dropdown-content{font-style: normal;font-weight: 600;font-size: 14px;line-height: 1.28em; color: rgba(255, 255, 255, 0.95); background: none; border: none;}
.down{border: solid rgba(255, 255, 255, 0.95);border-width: 0 2px 2px 0;display: inline-block; padding: 3px; transform: rotate(45deg);  margin: 3px;}
.header_right .contact .contact_number{font-weight: 800;font-size: 14px;line-height:1.48em; padding-right: 143px;} 
.line{width: 28.5px; height: 2px; display: block; background: #FFFFFF; margin-bottom: 4px;}
.header_right  .menu{display: flex;align-items: center;}
.header_right  .menu .menu_content{font-weight: 800;font-size: 14px;line-height: 1.48em; margin-left: 10px;}

.hero{height: 100vh; margin-top: -82px; background-position: center center; background-repeat: no-repeat;background-size: cover;}
.hero .content{max-width: 492px; display: flex;flex-direction: column;justify-content: center; align-items: flex-start;height: 100vh;}
h1{font-weight: 900;font-size: 66px;line-height: 66px; margin-bottom: 36px;}
.black{ color: black; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;}
p{margin-bottom: 60px}
.hero .content .content_book{background: #F10048; border: none;box-shadow: 0px 7px 64px rgba(241, 0, 72, 0.66); font-style: normal;font-weight: bold;font-size: 17px;line-height: 1.29em;letter-spacing: -1px;color: #FFFFFF; padding: 20px 30px;}
.social{flex-direction: column;display: flex; position: absolute;right: 97px; bottom: 96px;}

